body {
	margin: 5px;
	color: white;
	background-color: black;
	font-size: 14px;

}

header {
	margin: inherit;
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px;

}

.headerbox {
	display: inline-block;
	text-align: center;;
	margin: auto;
	width: 375px;
	height: auto;
	padding: 10px;
	border-style: outset;
	border-width: 5px;
	border-color: red;
	border-radius: 10px 40px 10px 40px;
	background-color: white;

}

h1 {
	text-align: center;
	color: red;
	padding-bottom: 5px;
}

p {

}

iframe.center{
	text-align: center;
	}
p.center {
	text-align: center;
}
