/*
    font-family: 'Audiowide', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'Orbitron', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Audiowide|Bangers|Orbitron:400,500,700');

html{

}

body {
    margin:5px;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: aliceblue;

}

h1, h2, h3 {
    font-family: 'Audiowide', cursive;
    text-align: center;
    color: blue;

}
#top_wrapper {
    border-radius: 20px;
    margin-left: 2%;
    width: 96%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, darkred); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, darkred); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, darkred); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, darkred); /* Standard syntax */
}

nav {
    padding-bottom: 2px;
    width: auto;

}
.main_wrapper {
    width: 95%;

}

#picker_box {
    background-color: chartreuse;
    display: inline-block;
    text-align: left;
    font-size: 12px;
    margin-left: 5px;
    padding: 10px;
    width: 400px;
    height: auto;
    position: relative;
}
#picker_box h2 {
    margin-left: 10%;
    text-align: center;
    height: auto;
    width: 80%;
    background: darkdreen; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, darkgreen, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, darkgreen,geen); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, darkgreen, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, darkgreen, green); /* Standard syntax */
    border-radius: 10pz,25px;
    border: single;
    border-color: crimson;
}
#picker_box::first-line {
    font-size: 14px;
    text-shadow: 2px 2px 5px red;
    color: black;
    width: 100%;
    display: block;
}
#n_die::p {
  font-size: 12px;
}
footer {

}
